{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}
{% block body %}
    <h1>Page introuvable</h1>

    <p>
        Oups!! La page que vous recherchez n'existe pas ou plus veuillez verifier l'URL ou
        <a href="{{ path('index') }}">retourner à la page d'accueil</a>.
    </p>
{% endblock %}